.button {
    border-radius: 25px;
    padding: 16px;
    background: white;
    box-shadow: 2px 2px 5px #c4c4c4, -2px -2px 5px #ffffff;

    font-size: 14px;
    // font-family: 'Sofia', sans-serif;

    transition: all 0.15s ease-in-out;
    &:hover {
        cursor: pointer;
        scale: 1.05;
        transition: 0.15s ease-in-out;
        background-color: #f0f1f2;
    }

    /* Rotate all <i> elements within .button */
    i {
        transition: transform 0.15s ease-in-out;
        font-size: 16px;
    }

    &:hover i {
        transform: rotate(90deg); /* Rotate the <i> element on hover */
    }
}
