@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.homepage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 24px;
    background: white;
    box-shadow: 7px 7px 20px #c4c4c4, -7px -7px 20px #ffffff;
    height: 204px;
    position: relative;
}

.homepage-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./food-background1.jpg);
    background-repeat: repeat;
    background-size: 1000px auto;
    opacity: 0.7;
    border-radius: 25px;
    animation: animateBackground 30s linear infinite; /* Adjust the duration and timing function as needed */
}

@keyframes animateBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 1000px; /* Adjust the distance the background image moves */
    }
}

h1 {
    margin: 0;
    font-size: 48px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-style: normal;
    z-index: 1;
}

#unsw-logo,
#unidine-logo {
    height: 200px;
    width: auto;
    position: relative;
    z-index: 1;
}

#unidine-logo {
    height: 300px;
}

.description {
    width: 40%;
    height: auto;
    border-radius: 25px;
    padding: 32px;
    background: white;
    box-shadow: 7px 7px 20px #c4c4c4, -7px -7px 20px #ffffff;
    margin-top: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.rest-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    width: 55%;
    height: auto;
    border-radius: 25px;
    padding: 32px;
    background: white;
    box-shadow: 7px 7px 20px #c4c4c4, -7px -7px 20px #ffffff;
    margin-top: 32px;
}
