.heading {
    font-size: 48px;
    font-weight: bold;
    text-wrap: wrap;
}

.opening-hours {
    margin-top: 42px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 45% 60%;
    gap: 16px;
}

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 20% [col-start] 40% [col-start] 30% [col-start];
    gap: 32px;
    border-radius: 25px;
    padding: 24px;
    background: white;
    box-shadow: 7px 7px 20px #c4c4c4, -7px -7px 20px #ffffff;
}

.star-rating {
    display: flex;
    flex-direction: row;
    gap: '30px' !important;
    font-size: 32px;
}

.photos {
    // width: 40%;
    height: 400px;
    border-radius: 25px;
    padding: 32px;
    background: white;
    box-shadow: 7px 7px 20px #c4c4c4, -7px -7px 20px #ffffff;
    margin-top: 32px;
}

.review-container {
    width: 55%;
    height: 800px;
    border-radius: 25px;
    padding: 32px;
    background: white;
    box-shadow: 7px 7px 20px #c4c4c4, -7px -7px 20px #ffffff;
    margin-top: 32px;

    .review-heading {
        display: grid;
        grid-template-columns: 5% 75% 20%;

        color: grey;
        font-size: 32px;
        font-weight: bold;
    }

    .user-review {
        max-height: 100px;
        border-radius: 25px;
        padding: 32px;
        background: white;
        box-shadow: 7px 7px 20px #c4c4c4, -7px -7px 20px #ffffff;
        margin-top: 16px;
        display: grid;
        grid-template-columns: 40% 30% 20%;

        .title {
            font-size: 24px;
            font-weight: bold;
        }
        .contents {
            margin-top: 16px;
            font-size: 12px;
            display: grid;
            gap: 4px;
            grid-template-columns: 40% 60%;
        }
        .image {
            border-radius: 25px;

            transition: all 0.15s ease-in-out;
            &:hover {
                cursor: pointer;
                scale: 1.1;
                opacity: 0.7;
                transition: 0.15s ease-in-out;
            }
        }
    }
}
